body {
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "PT Serif", serif;
}

.flex-container {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}

/* p {
    writing-mode: vertical-rl;
text-orientation: mixed;
} */
